<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VSM.RUMA.CORE.SOAPLNV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VSM.RUMA.CORE.SOAPLNV.Properties.Settings>
            <setting name="VSM_RUMA_CORE_SOAPLNV_LNVReferentie_ReferentieServiceService"
                serializeAs="String">
                <value>https://dbrbms.agro.nl/bms_v2_0/services/ReferentieWS</value>
            </setting>
            <setting name="VSM_RUMA_CORE_SOAPLNV_DierenWS_DierenServiceService"
                serializeAs="String">
                <value>https://dbrbms.agro.nl/bms_v2_0/services/DierenWS</value>
            </setting>
            <setting name="VSM_RUMA_CORE_SOAPLNV_MachtigingenWS_MachtigingenServiceService"
                serializeAs="String">
                <value>https://dbrbms.agro.nl/bms_v2_0/services/MachtigingenWS</value>
            </setting>
            <setting name="VSM_RUMA_CORE_SOAPLNV_MerkenWS_MerkenServiceService"
                serializeAs="String">
                <value>https://dbrbms.agro.nl/bms_v2_0/services/MerkenWS</value>
            </setting>
            <setting name="VSM_RUMA_CORE_SOAPLNV_nl_agro_dbrbms_MeldingenServiceService"
                serializeAs="String">
                <value>http://HOST/bms_v2_0/services/MeldingenWS</value>
            </setting>
            <setting name="VSM_RUMA_CORE_SOAPLNV_MeldingewnWS_MeldingenWSSoapBindingImplService"
                serializeAs="String">
                <value>https://dbrbms.agro.nl/osbbms_v2_0/services/MeldingenWS</value>
            </setting>
        </VSM.RUMA.CORE.SOAPLNV.Properties.Settings>
    </applicationSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="MeldingenWSSoapBinding1"/>
              </basicHttpBinding>
              <basicHttpsBinding>
                    <binding name="MeldingenWSSoapBinding"/>
              </basicHttpsBinding>
        </bindings>
        <client>
              <endpoint address="https://dbrbms.agro.nl/osbbms_v2_0/services/MeldingenWS" binding="basicHttpsBinding" bindingConfiguration="MeldingenWSSoapBinding" contract="srMeldingenWS.MeldingenService" name="MeldingenWSSoapBinding"/>
              <endpoint address="http://dbrbms.agro.nl/osbbms_v2_0/services/MeldingenWS" binding="basicHttpBinding" bindingConfiguration="MeldingenWSSoapBinding1" contract="srMeldingenWS.MeldingenService" name="MeldingenWS"/>
        </client>
    </system.serviceModel>
</configuration>
