<APIConfigurationSettings xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/vsm.agrobase.api.core.settings">
  <APIName>SopracoCSVPlugin</APIName>
  <APIProgId>1</APIProgId>
  <APILabKinds></APILabKinds>
  <APILabCountry>528</APILabCountry>
  <APIChangedBy>8000</APIChangedBy>
  <APIConnection>
    <Username>kWnc</Username>
    <Password>Fvz/30YJGMWjjGRj2h5cv4tJ</Password>
    <ConnectionString>server=db.dev.agrobase.nl;AllowUserVariables=True;pooling=true;ConnectionTimeout = 120;</ConnectionString>
  </APIConnection>
  <AnimalConnectionMaster>
    <Username>kWnc</Username>
    <Password>Fvz/30YJGMWjjGRj2h5cv4tJ</Password>
    <ConnectionString>server=db.dev.agrobase.nl;AllowUserVariables=True;pooling=true;ConnectionTimeout = 120;</ConnectionString>
  </AnimalConnectionMaster>
</APIConfigurationSettings>