<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VSM.RUMA.CORE.XML2AGROBASE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="VSM.RUMA.CORE.EDINRS2AGROBASE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="VSM.RUMA.SRV.MEDLEV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="VSM.RUMA.SRV.IDR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="VSM.RUMA.CORE.EMM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings file="settings.config">
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings configSource="connections.config">
  </connectionStrings>
  <applicationSettings>
    <VSM.RUMA.SRV.MEDLEV.Properties.Settings>
      <setting name="AgrobaseUser" serializeAs="String">
        <value>00000</value>
      </setting>
      <setting name="AgrobasePass" serializeAs="String">
        <value>kcD0QJC3</value>
      </setting>
      <setting name="Test" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LeesVerwerkt" serializeAs="String">
        <value>99</value>
      </setting>
      <setting name="AgrobaseHostName" serializeAs="String">
        <value>217.148.183.78</value>
      </setting>
    </VSM.RUMA.SRV.MEDLEV.Properties.Settings>
    <VSM.RUMA.SRV.IDR.Properties.Settings>
      <setting name="AgrobaseUser" serializeAs="String">
        <value>00000</value>
      </setting>
      <setting name="AgrobasePass" serializeAs="String">
        <value>kcD0QJC3</value>
      </setting>
      <setting name="AgrobaseHostName" serializeAs="String">
        <value>217.148.183.78</value>
      </setting>
    </VSM.RUMA.SRV.IDR.Properties.Settings>
    <VSM.RUMA.CORE.EMM.Properties.Settings>
      <setting name="VSM_RUMA_CORE_EMM_ediemmMilk_ESB_rsMilk_Service" serializeAs="String">
        <value>https://www.cr-delta.nl/event/milk/rsMilk</value>
      </setting>
      <setting name="VSM_RUMA_CORE_EMM_ediemmAnimal_ESB_rsAnimal_Service" serializeAs="String">
        <value>https://www.cr-delta.nl/event/animal/rsAnimal</value>
      </setting>
      <setting name="VSM_RUMA_CORE_EMM_ediemmMilk_ESB_rsMilk_TestService" serializeAs="String">
        <value>https://acceptatie.cr-delta.nl/event/milk/rsMilk</value>
      </setting>
      <setting name="VSM_RUMA_CORE_EMM_ediemmAnimal_ESB_rsAnimal_TestService" serializeAs="String">
        <value>https://acceptatie.cr-delta.nl/event/animal/rsAnimal</value>
      </setting>
    </VSM.RUMA.CORE.EMM.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
