<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="UseCRDTestserver" value="True"/>
  <add key="UseLNVTestserver" value="1"/>
  <add key="IRAutoRecievePrevDays" value="730"/>
  <add key="ClientSettingsProvider.ServiceUri" value=""/>
  <add key="LoadExistingFiles" value="True"/>
  <add key="Path" value="C:\Filereader\"/>
  <add key="MaxWorkers" value="15"/>
  <add key="AgrobaseUser" value="00000"/>
  <add key="AgrobasePass" value="kcD0QJC3"/>
  <!--FilereaderWaitFolder moves files to key="Path" combined with key="extensionfolder_??? " -->
  <!--no extensionfolder : no file move" -->
  <add key="FilereaderWaitFolder" value="C:\Filereaderwait\" />
  <add key="extensionfolder_xml" value="agrobase"/>
 
  <!-- RVO settings-->
  <add key="LNVUsername" value="MTI5MzU2MQ==" />
  <add key="LNVPassword" value="U2NvcUkwNA==" />

  <!-- Agrobase credentials -->
  <add key="AgrobaseUsername" value="Yv2yo" />
  <add key="AgrobasePassword" value="qhxyJduM" />
  <add key="FidinNLCredentialUsername" value="ruma-vsm"/>
  <add key="FidinNLCredentialPassword" value="otrJ62a"/>
  <add key="FidinBECredentialUsername" value=""/>
  <add key="FidinBECredentialPassword" value=""/>
  
 <!--MEDLEV-->
  <add key="AgrobaseHostName" value="db.dev.agrobase.nl"/>
  <add key="Test" value="True"/>
  <add key="Update_Dapdb_Vewerkt" value="False"/>
  <add key="Update_SupMed_Infokalf" value="False"/>
  <add key="enableLeesDapDatabase" value="False"/>
  <add key="enableLeesDapDatabase_dapthewi" value="False"/>
  <add key="enableLeesDapDatabase_dapbarneveld" value="False"/>
  <add key="enableMedlevToInfoKalf" value="False"/>
  <add key="enableMedlevToInfoVarken" value="False"/>
  <add key="enableMedlevToMediRund" value="False"/>
  <add key="enableUpdateDapDatabase" value="False"/>
  <add key="enableMedlevCSVExport" value="False"/>
  <add key="enableMedlevCSVExport_RUMA" value="False"/>
  <add key="enableFidinSync" value="False"/>
</appSettings>
