<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VSM.RUMA.CORE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="VSM.RUMA.CORE.Properties.Database" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VSM.RUMA.CORE.Properties.Settings>
            <setting name="DatabaseType" serializeAs="String">
                <value>MySQL</value>
            </setting>
            <setting name="VSM_RUMA_CORE_Licentie_licentieagrobaseService" serializeAs="String">
                <value>https://licentie2.agrobase.eu/licentieagrobase2.php</value>
            </setting>
            <setting name="VSM_RUMA_CORE_LicentieAMS_licentieagrobaseService" serializeAs="String">
                <value>https://licentie.agrobase.eu/licentieagrobase2.php</value>
            </setting>
            <setting name="VSM_RUMA_CORE_LicentieWDR_licentieagrobaseService" serializeAs="String">
                <value>https://licentie2.agrobase.eu/licentieagrobase2.php</value>
            </setting>
        </VSM.RUMA.CORE.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
