<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SopracoFileReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
	</configSections>
	<connectionStrings configSource="connections.config"/>
 <appSettings file="settings.config">
	 <!--<add key="BaseInleesDir" value="\\192.168.150.2\test\"/>-->
	 <!--<add key="BaseInleesDir" value="\\192.168.100.4\Vilatcalf\"/>-->

	 <add key="BaseInleesDir" value="C:\temp\testwatch\"/> 
	 <add key="FilereaderWaitFolder" value="C:\Filereaderwait\" />
	 <add key="extensionfolder_xml" value="vilatcalf"/>
	 <add key="ExcludeDirs" value="IN;eVKI;Leanint;Scripts;TnV_Documenten;TransportLijsten;Voer"/>
 </appSettings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
 <applicationSettings>
  <SopracoFileReader.Properties.Settings>
   <setting name="MaxWorkers" serializeAs="String">
    <value>15</value>
   </setting>
  </SopracoFileReader.Properties.Settings>
 </applicationSettings>
</configuration>