<?xml version="1.0"?>
<connectionStrings>
	<!--<add name="RUMADATA" connectionString="server=192.168.150.3;user id=vilatcalf_write;Pwd=Ay9OwPhbYqRm;pooling=false;Allow Zero Datetime=True;Convert Zero DateTime=True;Allow User Variables=True;Connection Timeout=300" providerName="MySql.Data.MySqlClient" />-->
	<add name="RUMADATA" connectionString="server=localhost;user id=vilatcalf_write;Pwd=Ay9OwPhbYqRm;pooling=false;Allow Zero Datetime=True;Convert Zero DateTime=True;Allow User Variables=True;Connection Timeout=300" providerName="MySql.Data.MySqlClient" />
	<!--<add name="DbStats" connectionString="server=db.pilot.agrobase.nl;user id=rumat4cII;Pwd=m4lk50b06;pooling=false;Allow Zero Datetime=True;Convert Zero DateTime=True;Allow User Variables=True;Connection Timeout=300" providerName="MySql.Data.MySqlClient" />-->
</connectionStrings>